.about-tech__text{
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.04em;
    width: 460px;
    margin: 0 0 100px 0;
    align-self: center;
    text-align: center;
}