.about-me__title{
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    /* identical to box height, or 116% */
    margin: 0 0 18px 0;
    letter-spacing: -0.04em;
}