.about-me__job{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    mix-blend-mode: normal;
    margin: 0 0 26px 0;
}